.bg-custom {
  background-color: #19142A;
}

@media (min-width: 1700px) {
  .container-fluid {
    max-width: 1300px;
    margin-left: 175px;
  }
}

.logo-image {
  max-width: 80px;
  margin-left:80px;
  height: auto;
  transition: max-width 0.3s ease;
}

@media (min-width: 1700px) {
  .logo-image {
    align-items: flex-start;
    margin-left: 100px;
  }
}

@media (max-width: 993px) {
  .logo-image {
    align-items: flex-start;
    margin-left: 0px;
  }
}

.navbar {
  width: 100%;
}

.navbar-toggler.custom-toggler {
  background-color: #D5223A;
  border: none;
  padding: 10px;
  border-radius: 0;
}

.navbar-toggler.custom-toggler:hover {
  background-color: #B71D30;
}

.nav-link.custom-button {
  background-color: #D5223A;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
}

.nav-link.custom-button:hover {
  background-color: #B71D30;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}


.navbar-nav .nav-item:last-child {
  margin-right: 150px;
}


@media (min-width: 1700px) {
  .navbar-nav .nav-item:last-child {
    margin: 0;
  }
}

@media (max-width: 1280px) {
  .navbar-nav .nav-item:last-child {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .logo-image {
    max-width: 60px;
  }

  .navbar-nav .nav-item {
    margin-right: 10px;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .navbar-nav .nav-item {
    margin-right: 5px;
  }

  .navbar-nav .nav-item:last-child {
    margin-right: 5px;
  }
}

@media (max-width: 992px) {

  .navbar-nav .nav-item:last-child {
    margin-right: 150px;
  }
}