.bg-another {
  background-color: #2c2c54;
  height: 760px;
  position: relative;
}

.centered-text {
  text-align: center;
  padding: 20px;
}

.custom-container-steps {
  position: relative;
  width: 100%;
  margin-top: 200px;
  margin: 50px 0;
}

@media (max-width: 1355px) {
  .custom-container-steps {
    font-size: 14px;
  }
}

@media (max-width: 1075px) {
  .custom-container-steps {
    font-size: 12px;
  }
}

.step-container {
  position: absolute;
  width: 18%;
  text-align: left;
  padding-left: 30px;
  transition: all 0.3s ease-in-out;
  cursor: default;
  overflow: hidden;
}

@media (max-width: 1000px){
  .step-container {
    padding-left: 15px;
  }
}

.step-container img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

#step-01 {
  top: 0px;
  left: 0%;
}

@media (max-width: 1635px) {
  #step-01 {
    top: -20px;
  }
}

@media (max-width: 1500px) {
  #step-01 {
    top: -40px;
  }
}

#step-02 {
  top: 280px;
  left: 20%;
}

@media (min-width: 1635px) {
  #step-02 {
    top: 300px;
  }
}

@media (max-width: 1375px) {
  #step-02 {
    top: 240px;
  }
}


#step-03 {
  top: 0px;
  left: 41%;
}

@media (max-width: 1635px) {
  #step-03 {
    top: -20px;
  }
}

@media (max-width: 1500px) {
  #step-03 {
    top: -40px;
  }
}

#step-04 {
  top: 280px;
  left: 62%;
}

@media (min-width: 1635px) {
  #step-04 {
    top: 300px;
  }
}

@media (max-width: 1375px) {
  #step-04 {
    top: 240px;
  }
}

#step-05 {
  top: -20px;
  left: 81%;
  font-size:14px;
}

@media (max-width: 1635px) {
  #step-05 {
    top: -20px;
    font-size: 13px;
  }
}

@media (max-width: 1500px) {
  #step-05 {
    top: -40px;
    font-size: 12px;
  }
}

@media (max-width: 1235px) {
  #step-05 {
    font-size: 12px;
  }
}

@media (max-width: 1160px) {
  #step-05 {
    font-size: 11px;
  }
}

@media (max-width: 900px) {
  #step-05 {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  #step-05 {
    font-size: 9px;
  }
}

.time-line-container {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.time-line-container img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .step-container {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }
  .step-container img {
    position: static;
    transform: none;
    margin-right: 10px;
  }
  #step-01, #step-02, #step-03, #step-04, #step-05 {
    top: 0;
    left: 0;
  }
  .time-line-container {
    position: static;
    top: 0;
    transform: none;
    margin-top: 20px;
  }

  .custom-container-steps {
      display: none;
    }
  .time-line-container img {
      cursor: pointer;
    }
  .mobile-timeline-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100px;
      left: 0;
  }
}